<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeCoverage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <CodeCoverage.Properties.Settings>
            <setting name="VsPerfCmdExePath" serializeAs="String">
                <value>VsPerfCmd.exe</value>
            </setting>
            <setting name="StartVsPerfCmdExeArgs" serializeAs="String">
                <value>/start:coverage /output:{0}</value>
            </setting>
            <setting name="StopVsPerfCmdExeArgs" serializeAs="String">
                <value>/shutdown</value>
            </setting>
            <setting name="ReportGeneratorExePath" serializeAs="String">
                <value>ReportGenerator.exe</value>
            </setting>
            <setting name="ReportGeneratorExeArgs" serializeAs="String">
                <value>-reports:{0} -targetdir:{1}</value>
            </setting>
            <setting name="BrowserExePath" serializeAs="String">
                <value>C:\Program Files\Google\Chrome\Application\chrome.exe</value>
            </setting>
        </CodeCoverage.Properties.Settings>
    </userSettings>
</configuration>